Repository paritytech/ink, pull requests merged in 2019-07, with the labels that each got.

#132 Add ExtCurrentBlockNumber and BlockNumber EnvTypes.
  core/src/env/srml/srml_only/impls.rs
  core/src/env/srml/srml_only/sys.rs
  core/src/env/srml/types.rs
  core/src/env/test_env.rs
  core/src/env/traits.rs
  lang/src/api.rs
  lang/src/gen/build.rs
  lang/src/tests/events.rs
  lang/src/tests/flipper.rs
  lang/src/tests/incrementer.rs
  lang/src/tests/noop.rs
  model/src/exec_env.rs
Labels: A-ink_lang, B-enhancement

#138 [examples] remove all for core & model, except erc20
  examples/core/incrementer/.cargo/config
  examples/core/incrementer/Cargo.toml
  examples/core/incrementer/build.sh
  examples/core/incrementer/src/lib.rs
  examples/core/noop/.cargo/config
  examples/core/noop/Cargo.toml
  examples/core/noop/build.sh
  examples/core/noop/noop.rs
  examples/core/subpeep/.cargo/config
  examples/core/subpeep/Cargo.toml
  examples/core/subpeep/README.md
  examples/core/subpeep/build.sh
  examples/core/subpeep/src/lib.rs
  examples/core/subpeep/src/tests.rs
  examples/model/incrementer/.cargo/config
  examples/model/incrementer/Cargo.toml
  examples/model/incrementer/build.sh
  examples/model/incrementer/src/lib.rs
Labels: A-examples

#124 Implement `ext_dispatch_call`
  core/src/env/api.rs
  core/src/env/srml/srml_only/impls.rs
  core/src/env/srml/srml_only/sys.rs
  core/src/env/srml/types.rs
  core/src/env/test_env.rs
  core/src/env/traits.rs
  examples/lang/events/Cargo.toml
  examples/lang/flipper/Cargo.toml
  examples/lang/incrementer/Cargo.toml
  examples/lang/shared_vec/Cargo.toml
  model/src/exec_env.rs
Labels: B-enhancement
