Repository paritytech/ink, pull requests merged in 2019-11, with the labels that each got.

#209 [cli] add generate-abi command
  cli/src/cmd/abi.rs
  cli/src/cmd/build.rs
  cli/src/cmd/mod.rs
  cli/src/main.rs
Labels: A-ink_cli

#239 [cli] rename generate-abi to generate-metadata
  RELEASES.md
  cli/src/cmd/metadata.rs
  cli/src/cmd/mod.rs
  cli/src/main.rs
  cli/template/.ink/abi_gen/main.rs
  examples/lang/delegator/.ink/abi_gen/main.rs
  examples/lang/erc20/.ink/abi_gen/main.rs
  examples/lang/erc721/.ink/abi_gen/main.rs
  examples/lang/events/.ink/abi_gen/main.rs
  examples/lang/flipper/.ink/abi_gen/main.rs
  examples/lang/incrementer/.ink/abi_gen/main.rs
  examples/lang/shared_vec/.ink/abi_gen/main.rs
  examples/lang2/delegator/.ink/abi_gen/main.rs
  examples/lang2/erc20/.ink/abi_gen/main.rs
  examples/lang2/flipper/.ink/abi_gen/main.rs
  examples/lang2/incrementer/.ink/abi_gen/main.rs
Labels: A-ink_cli

#242 Update subxt to 0.2
  cli/Cargo.toml
Labels: A-ink_cli

#262 change stages, rename abi
  .gitlab-ci.yml
Labels: A-CI

#204 Read runtime storage value using `ext_get_runtime_storage`
  core/src/env2/env_access/immutable.rs
  core/src/env2/env_access/mutable.rs
  core/src/env2/srml/ext.rs
  core/src/env2/srml/impls.rs
  core/src/env2/test/accessor.rs
  core/src/env2/traits.rs
  examples/lang2/runtime-storage/.cargo/config
  examples/lang2/runtime-storage/.gitignore
  examples/lang2/runtime-storage/.ink/abi_gen/Cargo.toml
  examples/lang2/runtime-storage/.ink/abi_gen/main.rs
  examples/lang2/runtime-storage/Cargo.toml
  examples/lang2/runtime-storage/src/lib.rs
Labels: A-ink_core

#269 Use Flush derives and generally update the Flush trait
  core/Cargo.toml
  core/derive/src/lib.rs
  core/src/env/srml/types.rs
  core/src/env2/env_access/immutable.rs
  core/src/env2/env_access/mutable.rs
  core/src/env2/types.rs
  core/src/lib.rs
  core/src/storage/alloc/mod.rs
  core/src/storage/collections/bitvec/block.rs
  core/src/storage/collections/stash/impls.rs
  core/src/storage/flush.rs
  examples/lang/delegator/src/lib.rs
  examples/lang/shared_vec/src/lib.rs
  examples/lang2/delegator/lib.rs
  lang/src/gen/as_dependency.rs
  lang/src/tests/events.rs
  lang/src/tests/flipper.rs
  lang/src/tests/incrementer.rs
  lang/src/tests/noop.rs
  lang2/macro/src/codegen/cross_calling.rs
Labels: A-ink_core, B-enhancement

#277 Sccache, needs, CLI update
  .gitlab-ci.yml
Labels: A-CI
