Repository paritytech/ink, pull requests merged in 2022-09, with the labels that each got.

#1244 PSP22 chain extension example
  .gitlab-ci.yml
  examples/psp22-extension/.gitignore
  examples/psp22-extension/Cargo.toml
  examples/psp22-extension/README.md
  examples/psp22-extension/lib.rs
  examples/psp22-extension/runtime/psp22-extension-example.rs
Labels: A-examples

#1384 Document storage compatibility
  crates/env/src/api.rs
  examples/upgradeable-contracts/README.md
Labels: A-examples, A-docs

#1393 Use XXH32 instead of sha256 for const hashing
  crates/ink/tests/ui/storage_item/fail/collections_only_packed_1.stderr
  crates/ink/tests/ui/storage_item/fail/collections_only_packed_2.stderr
  crates/primitives/Cargo.toml
  crates/primitives/src/key.rs
Labels: A-ink_storage, C-discussion, dependencies
